* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: black;
}
main h1 {
    color: orange;
    text-align: center;
    margin-bottom: 30px;
}
section {
    background-color: grey;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    border: 2px solid orange;
    box-shadow: 1px 1px 0px grey;
}

button {
    width: 60px;
    height: 50px;
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

ul li {
    padding: 2px;
}

ul li:first-child {
    margin-bottom: 5px;
}

ul#memory {
    justify-content: space-around;
}

ul#memory li a {
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

div#output {
    margin: 5px 0px 10px 5px;
    width: 97%;
    height: 30px;
    font-size: 1.6em;
    background-color: #fff;
    border: 1px solid black;
    text-align: right;
}

main section li button span.super {
    vertical-align: super;
}

main section li button span.sub {
    vertical-align: sub;
}
